<div class="pdp-rightside">
    <div class="cat">
     <div class="att_cat">
    <div class="drop_cat">
      <h6>MÆRKE</h6> 
           <img src="https://cdn.shopify.com/s/files/1/0836/9559/9942/files/brnd.png.crdownload?v=1720041014" alt="velo" class="drop_img" width="42" height="42">
        <div class="mask">
          <span class="mark">{{ product.metafields.custom.brand_name }}</span>
          </div>
      </div>
          </div>

  <div class="att_cat">
    <div class="drop_cat">
      <h6>SMAG</h6> 
           <img src="https://cdn.shopify.com/s/files/1/0836/9559/9942/files/smag.png.crdownload?v=1720041015" alt="velo" class="drop_img2" width="40" height="40">
          <div class="mask">
            <span class="mark">{{ product.metafields.custom.flavour }}</span>
          </div>
      </div>
  </div>
  
{% render 'strength-pdp' %}

  <div class="att_cat">
        <div class="drop_cat">
          <h6>FORMAT</h6> 
             <img src="https://cdn.shopify.com/s/files/1/0836/9559/9942/files/format.png.crdownload?v=1720041015" alt="velo" class="drop_img4" width="48" height="48">
             <div class="mask">
             <span class="mark">{{ product.metafields.custom.format }}</span>
           </div>
    </div>
  </div>

  </div>
</div>
