<!-- header -->
<h1>Hi there</h1>
<!-- paragraph -->
<p>
  <!-- image (self closing) -->
  <img src="https://fonts.gstatic.com/s/i/materialicons/done/v14/24px.svg" />
  I'm writing hmtl
  asdasd
  
</p>
